@media (max-width: 640px) {
  .header {
    background-image: url(../Images/banner-mobile.jpg);
    height: 1036px;
    width: 100%;
  }
}

@media (max-width: 641px) and (min-width: 1199px) {
  .header {
    background-image: url(../Images/banner-bg-tablet.jpg);
  }
}