/*Мобильная версия, пейзажная ориентация*/

@media (max-width: 640px) and (orientation: landscape) {
 
  .trends-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .trends-post {
    width: 49.5%; 
    min-height: 230px;    
    margin: auto;
    margin-bottom: 3px;
  }

  .trend-post .article-tag {
    font-size: 10px;
  }

  .trend-post .article-title {
    font-size: 14px;
  }
}

/*Планшетная версия, пейзажная ориентация*/

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  
  .trends-wrapper {
    flex-wrap: nowrap;
  }

  .trends-post {
    width: 100%;
    min-height: 300px;
  }

  .trend-post {
    padding: 15px;
  }
  
  .trend-post .article-tag {
    font-size: 10px;
  }

  .trend-post .article-title {
    font-size: 14px;
  }
}

/*Мобильная версия*/
@media  (max-width: 640px ) {
  /*Header*/
  .header {
    padding: 0%;
    background-image: url(../images/banner-mobile.jpg);
    margin-bottom: 30px;
  }

  .logo {
    width: 272px;
    margin: 0 auto 6px;
  }
  
  .header-menu {
    justify-content: center;
    flex-direction: column-reverse;
    align-self: end;
    width: auto;
  }

  .menu {
    content: " ";
    height: 20px; 
    width: 25px;
    border-bottom: 12px double rgb(255, 255, 255); 
    border-top: 4px solid rgb(255, 255, 255); 
    margin-left: 90%;
    margin-top: 30px;
    margin-bottom: 180px;
  }

  .menu-list {
    display: none;
  }
  
  .banner {
    width: 300px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 200px;
  }

  .banner-title {
    font-size: 27px;
    line-height: 35px;
    margin-top: 17px;
    margin-bottom: 17px;
  }

  /*Trends*/

  .trends .section-title {
    font-size: 16px;
  }

  .trends-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .trends-post {
    width: 100%;
    margin: 0px;
    min-height: 233px;
  }

  .trend-post {
    width: 100%;
    margin: 5px;
    padding: 28px 20px;
  }

  .trend-post .article-title {
    font-size: 1rem;
    margin-top: 5px;
    font-size: 16px;
  }

  /*Page*/

  .page {
    width: 90%;
    margin: auto;
  }

  .page-container {
    flex-direction: column;
  }

  /*Main*/
  
  .main {
    margin: 0 0 30px;
    width: auto;
  }

  .posts {
    flex-direction: column;
    margin: 0 0 7px;
  }

  .post-image {
    margin: auto;
    width: 100%;
  }

  .image {
    width: 103%;
  }

  .categories {
    width: 100%;
    margin-left: 0;
  }

  .article-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 7px;
  }

  .text-description {
    font-size: 14px;
    line-height: 20px;
  }

  .update {
    margin-bottom: 6px;
  }

  /*Aside*/
  .aside {
    width: 100%;
  }

  .new-posts .section-title {
    font-size: 14px;
    line-height: 20px;
  }

  .aside-title {
    font-size: 14px;
    line-height: 18px;
  }

  /*Search*/

  .field {
    width: 56vw;
  }

  .button {
    left: 83vw;
  }

  /*Subscription*/

  .subscription .section-title {
    font-size: 16px;
  }

  .subscribe-field{
    width: 70vw;
  }

  .subscribe-button {
    width: 70vw;
  }

  /*Hashtags*/

  .hashtags .section-title {
    font-size: 16px;
  }

  .hashtags-list {
    width: 100%;
  }

  .hashtag {
    font-size: 12px;
  }

  .hashtags-link {
    font-size: 12px;
    line-height: 40px;
  }

  /*Topics*/

  .topics {
    margin-left: 0px;
  }
  /*Shop*/
  
  .shop-container {
    flex-direction: column;
  }

  .shop-image {
  width: 80vw;
  }
  
  .shop-wrapper {
    width: 92vw;
  }

  /*Footer*/

  .footer-container {
    width: 91%;
  }

  .adress {
    margin-bottom: 25px;
  }

  .footer-copyright {
    margin-left: 0px;
  }
}

/*Планшетная версия*/

@media (min-width: 641px) and (max-width: 1200px ) {
    
  /*Header*/

  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    width: 100%;
    padding: 35px;
    margin-bottom: 40px;
  }

  .header-menu{
    width: auto;
  }

  .logo {
    width: 160px;
  }
  
  .menu {
    content: " ";
    height: 20px; 
    width: 25px;
    border-bottom: 12px double rgb(255, 255, 255); 
    border-top: 4px solid rgb(255, 255, 255); 
  }

  .menu-list {
    display: none;
  }

  .banner {
    width: 610px;
    padding: 90px 0;
  }

  .banner-title {
    font-size: 38px;
  }

  /*Trends*/

  .trends .section-title {
    margin: 0 0 20px;
  }

  .trends-wrapper {
    flex-wrap: wrap;
    padding: auto;
    margin-bottom: 40px;
  }

  .trends-post {
    width: 49.5%; 
    min-height: 250px;    
    margin: auto;
    margin-bottom: 3px;
  }

  .trend-post .article-title {
    font-size: 17px; 
  }

  /*Page*/

  .page {
    margin-bottom: 10px;
    width: 91%;
  }

  .page-container {
    margin-bottom: 60px;
  }

  .main {
    margin: auto;
  }

  .posts {
    display: flex;
    flex-direction: column;
    margin-right: 45px;
  }

  .posts:not(:first-child) {
    margin-top: 65px;
  }

  .post-image {
    width: 100%;
  }
  
  .categories {
    width: 100%;
  }
  
  .article-title {
    margin-top: 0.5em;
    margin-bottom: 20px;
    font-size: 17px; 
  }

  .update {
    margin-bottom: 30px;
  }

  /*Aside*/

  .aside {
    width: 68.5%;
    max-width: 397px;
  }

  .aside-post {
    width: 100%;
  }

  /*Search*/

  .field {
    width: 31vw;
  }

  .button {
    left: 29.5vw;
  }

  /*Subscription*/

  .subscribe-button{
    width: 34.5vw;
  }

  .subscribe-field {
    width: 34.5vw;
  }

  /*Hashtags*/

  .hashtags-list {
    width: 100%;
  }

  /*Shop*/

  .shop {
    width: 100%;
  }

  .shop-container {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .shop-item:nth-child(odd) {
    /*flex: 0 1 46%;*/
    margin-right: 22px;
  }

  .shop-wrapper {
    margin-bottom: 4px;
    width: 43vw;
    padding: 25px 15px; /*Под вопросом*/
  }

  .picture-shop {
  width: 38vw;
  }

  /*Footer*/

  .footer-container {
    width: 90%;
  }

  .adress {
    margin-bottom: 15px;
  }
}
