* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Подключение шрифтов*/
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

html {
	height: 100%;
}

body {
  margin: auto;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  /* max-width: 1660px; */
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*Popup*/

.popup-hidden {
  display: none;
}

.popup {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup-feedback {
  margin: 0 auto;
  padding-left: 3px;
  padding-top: 17px;
}

.popup .section-title {
  font-size: 20px;
  line-height: 29px;
  margin: 0;
}

.popup-container {
  margin: 0 auto;
  background-color:rgb(255, 255, 255);
  position: relative;
  max-height: 590px;
  max-width: 391px;
  margin-top: 245px;
}

.popup-close {
  border: none;
  content: "";
  position: relative;
  width: 19px;
  height: 19px;
  cursor: pointer;
  background: url(../svg/form-x.svg);
  bottom: 35px;
  left: 96%;
}

.content {
  padding-left: 31px;
  padding-right: 29px;
  padding-top: 18px;
  font-size: 13px;
  font-weight: 400;
}

.form-input, .popup-radio, .popup-textarea {
  display: flex;
  flex-direction: column;
}

.text-input {
  margin-bottom: 5px;
}

.popup-select {
  min-width: 100%;
  border-style: none;
  cursor: pointer;
  height: 48px;
  color: gray;
  
  padding-left: 20px;

  background: url(../svg/form-arrows.svg) right 15px center/ 10px no-repeat;
  background-color: #f4f7f6;

  -webkit-appearance: none;
  -moz-appearance: none;

  font-size: 13px;
  font-weight: 400;
}


select:focus {
	border: 1px solid #b59f5b;
}

.popup-radio {
  margin-top: 31px;
}

.topic-radio {
  margin-bottom: 3px;
}

.radio {
  display: flex;
}

.radio-input {
  position: relative;
}

.feedback-radio-input {
  cursor: pointer;
}

.feedback-radio-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.feedback-radio-input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  gap: 5px;
  margin-right: 15px;
  margin-top: 6px;
}

.feedback-radio-input + label::before {
  transition: 0.3s;
  content: "";
  display: inline-flex;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 100% 100%;
  border-radius: 50%;
}  

.feedback-radio-input:checked + label::before {
  background-image: url("../svg/form-circle.svg");
   background-size: 100% 100%;
}

.feedback-radio-label {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  cursor: pointer;
}

.popup-textarea {
  margin-top: 26px;
  min-width: 100%;
}

.textarea {
  margin-top: 5px;
}

.textarea-field {
  min-width: 100%;
  border-style: none;
  outline: 0;
  min-height: 130px;
  background-color: #f4f7f6;

  font-size: 13px;
  color: #000000;
  font-weight: 400;

  padding-top: 20px;
  padding-left: 20px;
}





/*кнопка Popup*/
.popup-button {
  margin-top: 27px;
  width: 100%;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  color: #ffffff;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}

.popup-button:hover {
  background-color: #323232;
 }


/*Header*/

.header {
width: 100%;
/* padding: 32px 5px;  */
margin-bottom: 60px;
position: relative;
text-align: center;
text-transform: uppercase;
color: white;
z-index: 1;
background-position: top;
background-repeat: no-repeat;
background-size: cover;
background-color: black;
background-image: url(../images/banner-bg.jpg);
}

.header::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.6;
  background-color: black;
}

.header-container {
  /* height: 100%; */
  width: 100%;
  margin: 0 auto;
}

.logo {
  width: 179px;
  margin-top: 28px;
  margin-left: 17px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 26px;
  margin-right: 15px;
}

.menu-list-items {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
}

.menu-list-items:hover {
  text-decoration: underline;
}

.menu-list-items:not(:first-child) {
  margin-left: 34px;
}

.menu-link {
  color: white;
}

.banner {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 700;
  margin: 0 auto;
  padding: 100px 0 0 3px;
  width: 715px;
}

.banner-title {
  line-height: 75px;
  font-size: 45px;
  margin-bottom: 125px;
}

/*Trends*/
.trends {
  /* margin-top: 55px; */
}

.trends .section-title {
  font-size: 20px;
  /* width: 1200px; */
  text-align: center;
  margin: 0px 0px 0px 0px;
  margin: 0 auto;
}

.trends-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 56px;
  gap: 2px;
  width: 100%;
}

.trends-post {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  min-height: 323px;
  /* max-height: 100%; */
  width: 24.8%;
  z-index: 1;
  padding: 10px;
}

.trends-post::after {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.trend-post {
  border: 3px solid #b59f5b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 90%;
  width: 100%;
  padding: 34px;
  margin: 10px;
}

.trend-post .article-title .article-link {
  color: white;
}

.trend-post .article-title .article-link:hover {
  color: #b59f5b;
}

.trend-post .article-title {
  margin-bottom: -3px;
  margin-top: 0px;
}
/*Посты Trends*/

.trend-one {
  background-image: url(../images/trend1.jpg);
  background-color: #000000;
}

.trend-two {
  background-image: url(../images/trend2.jpg);
  background-color: #000000;
}

.trend-three {
  background-image: url(../images/trend3.jpg);
  background-color: #000000;
}

.trend-four {
  background-image: url(../images/trend4.jpg);
  background-color: #000000;
}

/*Page*/

.page {
  margin: 0 auto;
}

.page-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 7px;
}

/*Main*/

.main {
  max-width: 790px;
}

.posts {
  display: flex;
}

.posts:not(:first-child) {
  margin-top: 57px;
}

.post-image {
  background-color: #eff6f1;
  width: 47%;
  max-height: fit-content;
  /* display: block; */
  
  /* height: 100%; */
}

.image {
  /* width: 103%; */
}

.categories {
  font-weight: 700;
  margin-left: 40px;
  width: 48%;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.tag {
  /* margin-right: 18px; */
}

.article-tag {
  color: #b59f5b;
  margin-right: 18px;
}

.article-tag:hover {
  text-decoration: underline;
}

.article-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  /* margin-bottom: 20px; */
  margin-top: 5px;
  line-height: 25px;
}

.article-link {
  color: #000000;
  text-decoration: none;
}

.description {
  font-size: 15px;
  font-weight: 400;
  margin-top: 43px;
}

.text-description {
  line-height: 22px;
  margin-top: 10px;
  margin-right: 10px;
}

/* .description > p:not(:first-child) {
  margin-top: ;
} */

.update {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 30px;
  margin-top: 30px;
}

.time {
  color: #888888;
  font-weight: 400;
  font-size: 12px;
  padding-right: 14px;
}

.author {
  /* margin-left: 15px; */
  font-weight: 700;
  font-size: 12px;
}

/*Aside*/

.aside {
  width: 300px;
}

.new-posts {
  margin-left: 23px;
}

.section-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; 
  margin: 0 0 30px;
  display: block;
  
  text-align: center;
}

.section-title::after {
  content: "";
  display: block;
  border-bottom: 2px solid #e1d9bd;
  width: 69px;
  height: 2px;
  margin: 8px auto;
  background-color: #e1d9bd;
}

.aside-post {
  display: flex;
  margin-bottom: 20px;
}

.aside-image {
  background-color: #f4f7f6;
  background-size: cover;
  width: 71px;
  height: 71px;
}


.aside-about {
  margin-left: 17px;
}

.aside-about .time {
  color: #888888;
  font-weight: 400;
  font-size: 12px;
  padding-right: 14px;
  display: block;
}

.aside-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 18px;
}

.aside-link {
  color: #000000;
}

.aside-link:hover {
  color: #b59f5b;
}

/*Search*/

.search {
  margin-left: 23px;
}

.search form {
  margin-top: 60px;
  margin-bottom: 60px;
  /* width: 95.6%; */
  display: flex;
}


.search-group {
  border-style: none;
}

.search-hint {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  height: 100%;
}

.field {
  border-style: none;
  background-color: #f4f7f6;
  outline: 0;
  width: 100%;
  height: 49px;
  padding-right: 65px;
  padding-left: 16px;
}

input:focus {
  border: 1px solid #b59f5b;
}

.button {
  width: 48px;
  height: 49px;
  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
  font-size: 0;
  border-style: none;
  vertical-align: top;
  padding: 0px;
}

.button:nth-child(2):hover {
  width: 48px;
  height: 48px;
  background-color: #000000;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
  font-size: 0;
  border-style: none;
  vertical-align: top;
}

/*Subscribe*/
.subscription {
  width: 90%;
  margin-bottom: 55px;
  margin-left: 21px;
}

/*.subscription form {

}

.subscription-group {

}*/

.subscription .section-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px;
  display: block;
  text-align: center;
}

.subscribe-field {
  width: 100%;
  background-color: #f4f7f6;
  margin-bottom: 18px;
  border-style: none;
  outline: 0;
  height: 50px;
  padding-left: 17px;
}

.subscribe-button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #b59f5b;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

.subscribe-button:hover {
  background-color: #323232;
 }

/*Hashtags*/

.hashtags {
  /* width: 95.6%; */
  /* width: 272px; */
  margin-left: 23px;
}

.hashtags .section-title{
  margin-bottom: 25px;
}

.hashtags-list {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  /* width: calc(100% - 1px); */
  font-size: 13px;
}

.hashtag {
  border: 3px solid #eeeeee;
  margin-right: 9px;
  margin-bottom: 6px;
}

.hashtag:hover {
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #b59f5b;
  margin-right: 5px;
  margin-bottom: 5px;
}

.hashtag-link {
  color: #0f0d0e;
  display: inline-flex;
  padding: 4px 11px;
}

/*Categories*/
.topics {
  margin-top: 50px;
  /* width: 95.6%; */
  margin-left: 23px;
}

.topics .section-title{
  margin-bottom: 20px;
}

.topic {
  font-size: 14px;
  font-weight: 700;
  display: block;
  border-bottom: 1px solid #ccc;
  margin-top: 7px;
  height: 40px;
}

.topic-link {
  color: #000000;
}

.topic-amount {
  color: #b59f5b;
  font-size: 12px;
  vertical-align: super;
}

.topic-link:hover {
  color: #b59f5b;
}

/*Shop*/
.shop {
  margin-top: 55px;
  /* width: 1200px; */
}

.shop .section-title {
  font-size: 20px;
  margin-bottom: 25px;
}

.shop-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.shop-posts {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /*flex-basis: 345px;*/
}

.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 31.5%;
}

.shop-wrapper {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  margin-top: 175px;
  border: 3px solid #b59f5b;
  padding: 15px 20px 25px 20px;
  height: 100%;
  margin-left: 17px;
  margin-right: 14px;
 }

 .shop-wrapper .article-title {
  padding-top: 29px;
  /* margin-bottom: 5px; */
  margin-bottom: -45px;
 }


.shop-wrapper .description {
  /* margin-bottom: 25px; */
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 21.5px;
  margin-top: 45px;
  padding-bottom: 4px;
  /* width: 300px; */
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin-bottom: 17px; */
}

.shop-image {
  margin: 0 auto;
  position: absolute;
  z-index: -1;
}

.price {
  display: flex;
  flex-direction: column;
  color: #0f0d0e;
  font-size: 20px;
  font-weight: 700;
  line-height: 15px;
}

.last-price {
  text-decoration: line-through;
  font-size: 14px;
  margin-top: -6px;
  margin-left: -3px;
}

.shop-button {
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  background-color: #b59f5b;
  border: none;
  width: 140px;
  height: 48px;
  color: white;
  margin-right: 5px;
}

.shop-button a {
  color: white;
}

.shop-button:hover {
  background-color: #323232;
 }

.shop-link {
  color: #b59f5b;
  text-decoration: none;
}

.shop-link:hover {
  text-decoration: underline;
}

/*Footer*/

.footer {
  margin-top: 35px;
}

.footer-container {
  background-color: #f4f7f6;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.icon {
  display: flex;
}

.icon-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-link-dribbble {
  background-image: url(../svg/001-dribbble.svg);
  display: flex;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: center center;
}

.icon-link-pinterest {
  background-image: url(../svg/001-pinterest.svg);
  display: flex;
  width: 16px;
  height: 20px;;
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: center center;
}

.icon-link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
  display: flex;
  width: 13px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: center center;
}

.icon:nth-child(n+1) {
  margin-left: 30px;
}


/*.adress {

}*/

.socials {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f4f7f6;
  margin-right: 26px;
}


.footer-copyright {
  font-size: 12px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 43px;
  margin-left: 13px;
}

.copyright {
  color: #999999;
}


/*Планшетная версия*/

@media (min-width: 641px) and (max-width: 1200px ) {
  

  /*Header*/

  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
  }

  .header-menu{
    width: auto;
    padding-bottom: 84px;
  }

  .logo {
    width: 160px;
    margin-top: 44px;
    margin-left: 35px;
  }
  
  .menu {
    content: " ";
    height: 20px; 
    width: 25px;
    border-bottom: 12px double rgb(255, 255, 255); 
    border-top: 4px solid rgb(255, 255, 255); 
    margin-right: 33px;
    margin-top: 52px;
  }

  .menu-list {
    display: none;
  }

  .banner {
    width: 620px;
    padding: 0px;
  }

  .banner-title {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 112px;
  }

  .article-title {
    line-height: 22px;
  }

  /*Trends*/

  .trends {
    margin-top: 43px;
  }

  .trends .section-title {
    /* margin: 0 0 20px; */
    font-size: 18px;
  }

  .trends-wrapper {
    flex-wrap: wrap;
    padding: auto;
    margin-top: 21px;
    margin-bottom: 40px;
  }

  .trends-post {
    width: 49.5%; 
    min-height: 247px;    
    margin: auto;
    margin-bottom: 2px;
  }

  .trend-post {
    padding: 30px 30px 35px 30px;
    margin-bottom: 5px;
  }

  .trend-post .article-title {
    font-size: 17px; 
  }
  
  .trend-post .article-tag {
    font-size: 14px; 
  }

  .tags {
    margin-bottom: 8px;
  }
  /*Page*/

  .page {
    margin-top: 42px;
    margin-bottom: 10px;
    width: 91%;
  }

  .page-container {
    margin-bottom: 60px;
    padding-left: 0;
    max-width: 700px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .main {
    max-width: 427px;
    margin: 0 auto;
  }

  .posts {
    display: flex;
    flex-direction: column;
    margin-right: 31px; 
  }

  .posts:not(:first-child) {
    margin-top: 63px;
    /* margin-right: 35px; */
  }

  .post-image {
    width: 99%;
  }

  .image {
    width: 100%
  }
  
  .categories {
    width: 100%;
  }

  .posts .categories {
    margin-left: 0px;
    margin-top: 10px;
  }

  .posts .categories .description {
    margin-top: 5px;
  }
  
  .posts .article-title {
    margin-top: 6px;
    margin-bottom: 20px;
    font-size: 17px; 
  }

  .update {
    margin-bottom: 27px;
  }

  .text-description {
    font-size: 15px;
    line-height: 22px;
    margin-top: 10px;
    padding-right: 1px;
}

  /*Aside*/

  .aside {
    /* width: 68.5%; */
    width: 272px;
  }

  .new-posts {
    margin-left: 0;
  }

  .aside-post {
    display: flex;
    margin-bottom: 22px;
  }

  .aside-image {
    background-color: #f4f7f6;
    background-size: cover;
    width: 70px;
    height: 70px;
  }
  /*Search*/

  .search {
    margin-left: 0px;
  }

  .search form {
    margin-top: 60px;
    margin-bottom: 56px;
    width: 100%;
    display: flex;
  }
  /*Subscription*/

  .subscription {
    width: 100%;
    margin-bottom: 55px;
    margin-left: 0px;
  }

  .subscription .section-title {
    margin: 0 auto;
    padding-right: 10px;
    margin-bottom: 23px;
  }
  /*Hashtags*/

  .hashtags {
    width: inherit;
    margin-left: 0px;
  }

  .hashtags .section-title {
    margin: 0 auto;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .hashtags-list {
    width: 100%;
  }

  /*Topics*/
  .topics {
    width: 100%;
    margin-left: 0px;
  }

  .topics .section-title {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .topic-amount {
    margin-left: 5px;
  }

  .topic {
    margin-top: 12px;
    height: 35px;
  }
  /*Shop*/

  .shop {
    width: 100%;
    margin-top: 56px;
   
  }

  .shop .section-title {
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 27px;
  }

  .shop-container {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }

  .shop-item {
    flex-basis: 48%;
    margin-bottom: 30px;
  }

  .shop-item:nth-child(odd) {
    /* flex: 0 1 46%; */
  }

  .shop-wrapper {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin-top: 195px;
    border: 3px solid #b59f5b;
    padding: 15px 20px 25px 20px;
    height: 100%;
    bottom: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .shop-wrapper .article-title {
    font-size: 17px;
    line-height: 22px;
  }

  .shop-wrapper .description {
    padding-bottom: 0px;
    margin-bottom: 25px;
  }

  .price {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
  }

  .last-price {
    font-size: 14px;
    margin-left: 0px;
    margin: 0px;
  }
  

  /*Footer*/

  .footer {
    margin-top: 30px;
  }
  
  .footer-container {
    width: 100%;
    margin-bottom: 29px;
  }

  .adress {
    margin-bottom: 15px;
  }

  .socials {
    margin-right: 32px;
  }

  .footer-copyright {
    margin-left: 12px;
  }

  /*Popup*/
 
  .popup {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .popup-feedback {
    margin: 0 auto;
    padding-left: 3px;
    padding-top: 17px;
  }
  
  .popup .section-title {
    font-size: 18px;
    line-height: 29px;
    margin: 0;
  }
  
  .popup-container {
    margin: 0 auto;
    background-color:rgb(255, 255, 255);
    position: relative;
    max-height: 596px;
    max-width: 391px;
    margin-top: 235px;
  }
  
  .popup-close {
    border: none;
    content: "";
    position: relative;
    width: 27px;
    height: 27px;
    cursor: pointer;
    background: url(../svg/form-x.svg);
    bottom: 38px;
    left: 93%;
  }
  
  .content {
    padding-left: 31px;
    padding-right: 29px;
    padding-top: 16px;
    font-size: 13px;
    font-weight: 400;
  }
  
  .form-input, .popup-radio, .popup-textarea {
    display: flex;
    flex-direction: column;
  }
  
  .text-input {
    margin-bottom: 5px;
  }
  
  .popup-select {
    min-width: 100%;
    border-style: none;
    cursor: pointer;
    height: 48px;
    color: gray;
    
    padding-left: 20px;
  
    background: url(../svg/form-arrows.svg) right 15px center/ 10px no-repeat;
    background-color: #f4f7f6;
  
    -webkit-appearance: none;
    -moz-appearance: none;
  
    font-size: 13px;
    font-weight: 400;
  }
  
  
  select:focus {
    border: 1px solid #b59f5b;
  }
  
  .popup-radio {
    margin-top: 31px;
  }
  
  .topic-radio {
    margin-bottom: 3px;
  }
  
  .radio {
    display: flex;
  }
  
  .radio-input {
    position: relative;
  }
  
  .feedback-radio-input {
    cursor: pointer;
  }
  
  .feedback-radio-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  .feedback-radio-input + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    gap: 5px;
    margin-right: 34px;
    margin-top: 7px;
  }
  
  .feedback-radio-input + label::before {
    transition: 0.3s;
    content: "";
    display: inline-flex;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    flex-grow: 0;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 100% 100%;
    border-radius: 50%;
  }  
  
  .feedback-radio-input:checked + label::before {
    background-image: url("../svg/form-circle.svg");
     background-size: 100% 100%;
  }
  
  .feedback-radio-label {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    cursor: pointer;
  }
  
  .popup-textarea {
    margin-top: 26px;
    min-width: 100%;
  }
  
  .textarea {
    margin-top: 5px;
  }
  
  .textarea-field {
    min-width: 100%;
    border-style: none;
    outline: 0;
    min-height: 130px;
    background-color: #f4f7f6;
  
    font-size: 13px;
    color: #000000;
    font-weight: 400;
  
    padding-top: 20px;
    padding-left: 20px;
  }
  
  
  /*кнопка Popup*/
  .popup-button {
    margin-top: 27px;
    width: 100%;
    height: 48px;
    border: none;
    background-color: #b59f5b;
    color: #ffffff;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
  }
  
  .popup-button:hover {
    background-color: #323232;
  }
}

/*Мобильная версия*/

@media  (max-width: 640px ) {
  /* body {
    width: 100%;
  } */

  .header {
    padding: 0px;
    background-image: url(../images/banner-mobile.jpg);
    margin: 0;
  }

  .logo {
    width: 272px;
    margin: 0 auto;
    padding: 0px;
  }

  .header-menu {
    justify-content: center;
    flex-direction: column-reverse;
    align-self: end;
    width: auto;
    padding: 0px;
    margin: 0px;
  }

  /*Burger menu*/
  .menu {
    content: " ";
    height: 20px; 
    width: 25px;
    border-bottom: 12px double rgb(255, 255, 255); 
    border-top: 4px solid rgb(255, 255, 255); 
    margin-left: 89%;
    margin-top: 30px;
    margin-bottom: 180px;
  }

  .menu-list {
    display: none;
  }
  
  .banner {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 25px 0 0 3px;
  }

  .banner-title {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 208px;
    font-weight: 700;
  }

  /*Trends*/

    .trends .section-title {
      font-size: 16px;
      margin-top: 41px;
    }
  
    .trends-wrapper {
      flex-direction: column;
      justify-content: center;
    }
  
    .trends-post {
      width: 100%;
      margin: 0px;
      min-height: 231px;
      /* display: flex; */
    }
  
    .trend-post {
      width: 100%;
      margin: 5px;
      padding: 28px 20px;
    }
  
    .trend-post .article-title {
      margin: 5px 0px 0px 0px;
      font-size: 16px;
      line-height: 20px;
    }

    .trend-one, .trend-two, .trend-three, .trend-four {
      background-position: bottom;
    }

    
  /*Page*/

  .page {
    width: 100%;
    margin: 0 auto;
    margin-top: -9px;
    /* margin-right: 20px; */
  }

  .page-container {
    flex-direction: column;
    padding-left: 0px;
    width: 92%;
    padding-right: 5px;
  }

  .page .tags {
    margin-top: 12px;
    margin-bottom: 7px;
  }

  /*Main*/
  
  .main {
    margin: 0 0 32px;
    width: auto;
  }

  .posts {
    flex-direction: column;
    margin: 0 0 7px;
  }

  .posts:not(:first-child) {
    margin-top: 53px;
  }

  .post-image {
    margin: 0 auto;
    width: 100%;
  }

  .image {
    width: 100%;
  }

  .categories {
    width: 100%;
    margin-left: 0;
  }

  .article-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 7px;
  }

  .text-description {
    font-size: 14px;
    line-height: 20px;
  }

  .update {
    margin-bottom: 6px;
    margin-top: 17px;
  }

 .description {
  margin-top: 13px;
 }

 .description > p {
  line-height: 21px;
  margin: 0;
  }

  /*Aside*/
  .aside {
    width: 330px;
  }

  .new-posts .section-title {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
  }

  .new-posts {
    margin-left: 0px;
    margin-right: 0px;
  }

  .aside-title {
    font-size: 14px;
    line-height: 18px;
  }

  .aside-about {
    margin-left: 19px;
  }

  .aside-post {
    margin-bottom: 22px;
  }

  /*Search*/
  .search {
    margin-left: 0px;
  }

  .search form {
    margin-top: 60px;
    margin-bottom: 39px;
    max-width: 100%;
    display: flex;
  }

  .field {
    /* max-width: 53.56vw; */
    padding-right: 0px;
    min-width: 78vw;
  }

  .button {
    width: 48px;
    height: 48px;
  }

  /*Subscription*/

  .subscription {
    margin-bottom: 37px;
    margin-left: 0px;
    width: 100%;
  }

  .subscription .section-title {
    font-size: 16px;
  }

  .subscribe-field{
    width: 89vw;
    height: 48px;
  }

  .subscribe-button {
    width: 92vw;
    height: 48px;
  }

  /*Hashtags*/

  .hashtags .section-title {
    font-size: 16px;
  }

  .hashtags {
    margin-left: 0px;
    width: 100%;
  }

  .hashtags-list {
    width: 100%;
    font-size: 12px;
  }

  .hashtag {
    font-size: 12px;
    margin-right: 9px;
  }

  .hashtag-link {
    font-size: 12px;
    padding: 6px 11px;
  }

  /*Topics*/

  .topics .section-title {
    font-size: 16px;
    line-height: 29px;
    margin: 0 0 0px;
  }

  .topics {
    margin-left: 0px;
    margin-top: 26px;
    width: 100%;
  }

  .topic {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 700;
    height: 47px;
    padding-top: 9px;
  }
  
  .topic-link {
    color: #000000;
  }
  
  .topic-amount {
    padding-left: 4px;
  }
  
  .topic-link:hover {
    color: #b59f5b;
  }

  /*Shop*/

  .shop {
    width: 100%;
    margin-top: 40px;
  }

  .shop-item {
    margin-bottom: 25px;
  }

  .shop .section-title {
    font-size: 16px;
    margin-bottom: 30px;

  }

  .shop-container {
    flex-direction: column;
    margin-bottom: 15px
  }

  .shop-wrapper {
    margin-top: 255px;
    padding: 15px 15px 25px 15px;
  }

  .shop-wrapper .article-title {
    font-size: 17px;
    line-height: 22px;
    padding-top: 29px;
    margin-bottom: 0px;
  }

  .shop-wrapper .description {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 25px;
  }

  .price { 
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }
  
  .last-price {
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
  }
  
  .shop-button {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    background-color: #b59f5b;
    border: none;
    width: 140px;
    height: 48px;
    color: white;
  }
  

  /*Footer*/

  .footer {
    margin-top: 0px;
    height: 81px;
  }
  
  .footer-container {
    width: 91%;
    margin-bottom: 33px;
  }

  .adress {
    margin-bottom: 0px;
  }

  .footer-copyright {
    margin-left: 8px;
    margin-bottom: 0px;
  }

  /*Popup*/

  .popup-feedback {
    margin: 0 auto;
    padding-left: 0px;
    padding-top: 22px;
  }
  
  .popup .section-title {
    font-size: 16px;
    line-height: 29px;
    margin: 0;
  }

  .popup-container {
    max-height: 550px;
    max-width: 330px;
    margin-top: 54px;
  }

  .popup-close {
    width: 27px;
    height: 27px;
    bottom: 551px;
    left: 92%;
    position: absolute;
  }

  .content {
    padding-left: 22px;
  }

  .feedback-radio-input + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    gap: 5px;
    margin-right: 37px;
    margin-top: 7px;
  }
  
  .feedback-radio-input + label::before {
    transition: 0.3s;
    content: "";
    display: inline-flex;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    flex-grow: 0;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 100% 100%;
    border-radius: 50%;
  }  
  
  .feedback-radio-input:checked + label::before {
    background-image: url("../svg/form-circle.svg");
    background-size: 100% 100%;
  }

  .popup-textarea {
    margin-top: 22px;
    min-width: 100%;
  }

  .popup-button {
    margin-top: 30px;
  }
}

/*Мобильная версия, пейзажная ориентация*/

@media (max-width: 640px) and (orientation: landscape) {
 
  .trends-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .trends-post {
    width: 49.5%; 
    min-height: 230px;    
    margin: auto;
    margin-bottom: 3px;
  }

  .trend-post .article-tag {
    font-size: 10px;
  }

  .trend-post .article-title {
    font-size: 14px;
  }
}

/*Планшетная версия, пейзажная ориентация*/

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  
  .trends-wrapper {
    flex-wrap: nowrap;
  }

  .trends-post {
    width: 100%;
    min-height: 300px;
  }

  .trend-post {
    padding: 15px;
  }
  
  .trend-post .article-tag {
    font-size: 10px;
  }

  .trend-post .article-title {
    font-size: 14px;
  }
}



