/*Мобильная версия*/
@media  (max-width: 640px ) {
  /* body {
    width: 100%;
  } */

  .header {
    padding: 0px;
    background-image: url(../images/banner-mobile.jpg);
    margin: 0;
  }

  .logo {
    width: 272px;
    margin: 0 auto;
    padding: 0px;
  }

  .header-menu {
    justify-content: center;
    flex-direction: column-reverse;
    align-self: end;
    width: auto;
    padding: 0px;
    margin: 0px;
  }

  /*Burger menu*/
  .menu {
    content: " ";
    height: 20px; 
    width: 25px;
    border-bottom: 12px double rgb(255, 255, 255); 
    border-top: 4px solid rgb(255, 255, 255); 
    margin-left: 89%;
    margin-top: 30px;
    margin-bottom: 180px;
  }

  .menu-list {
    display: none;
  }
  
  .banner {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 25px 0 0 3px;
  }

  .banner-title {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 208px;
    font-weight: 700;
  }

  /*Trends*/

    .trends .section-title {
      font-size: 16px;
      margin-top: 41px;
    }
  
    .trends-wrapper {
      flex-direction: column;
      justify-content: center;
    }
  
    .trends-post {
      width: 100%;
      margin: 0px;
      min-height: 231px;
      /* display: flex; */
    }
  
    .trend-post {
      width: 100%;
      margin: 5px;
      padding: 28px 20px;
    }
  
    .trend-post .article-title {
      margin: 5px 0px 0px 0px;
      font-size: 16px;
      line-height: 20px;
    }

    .trend-one, .trend-two, .trend-three, .trend-four {
      background-position: bottom;
    }

    
  /*Page*/

  .page {
    width: 100%;
    margin: 0 auto;
    margin-top: -9px;
    /* margin-right: 20px; */
  }

  .page-container {
    flex-direction: column;
    padding-left: 0px;
    width: 92%;
    padding-right: 5px;
  }

  .page .tags {
    margin-top: 12px;
    margin-bottom: 7px;
  }

  /*Main*/
  
  .main {
    margin: 0 0 32px;
    width: auto;
  }

  .posts {
    flex-direction: column;
    margin: 0 0 7px;
  }

  .posts:not(:first-child) {
    margin-top: 53px;
  }

  .post-image {
    margin: 0 auto;
    width: 100%;
  }

  .image {
    width: 100%;
  }

  .categories {
    width: 100%;
    margin-left: 0;
  }

  .article-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 7px;
  }

  .text-description {
    font-size: 14px;
    line-height: 20px;
  }

  .update {
    margin-bottom: 6px;
    margin-top: 17px;
  }

 .description {
  margin-top: 13px;
 }

 .description > p {
  line-height: 21px;
  margin: 0;
  }

  /*Aside*/
  .aside {
    width: 330px;
  }

  .new-posts .section-title {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
  }

  .new-posts {
    margin-left: 0px;
    margin-right: 0px;
  }

  .aside-title {
    font-size: 14px;
    line-height: 18px;
  }

  .aside-about {
    margin-left: 19px;
  }

  .aside-post {
    margin-bottom: 22px;
  }

  /*Search*/
  .search {
    margin-left: 0px;
  }

  .search form {
    margin-top: 60px;
    margin-bottom: 39px;
    max-width: 100%;
    display: flex;
  }

  .field {
    /* max-width: 53.56vw; */
    padding-right: 0px;
    min-width: 78vw;
  }

  .button {
    width: 48px;
    height: 48px;
  }

  /*Subscription*/

  .subscription {
    margin-bottom: 37px;
    margin-left: 0px;
    width: 100%;
  }

  .subscription .section-title {
    font-size: 16px;
  }

  .subscribe-field{
    width: 89vw;
    height: 48px;
  }

  .subscribe-button {
    width: 92vw;
    height: 48px;
  }

  /*Hashtags*/

  .hashtags .section-title {
    font-size: 16px;
  }

  .hashtags {
    margin-left: 0px;
    width: 100%;
  }

  .hashtags-list {
    width: 100%;
    font-size: 12px;
  }

  .hashtag {
    font-size: 12px;
    margin-right: 9px;
  }

  .hashtag-link {
    font-size: 12px;
    padding: 6px 11px;
  }

  /*Topics*/

  .topics .section-title {
    font-size: 16px;
    line-height: 29px;
    margin: 0 0 0px;
  }

  .topics {
    margin-left: 0px;
    margin-top: 26px;
    width: 100%;
  }

  .topic {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 700;
    height: 47px;
    padding-top: 9px;
  }
  
  .topic-link {
    color: #000000;
  }
  
  .topic-amount {
    padding-left: 4px;
  }
  
  .topic-link:hover {
    color: #b59f5b;
  }

  /*Shop*/

  .shop {
    width: 100%;
    margin-top: 40px;
  }

  .shop-item {
    margin-bottom: 25px;
  }

  .shop .section-title {
    font-size: 16px;
    margin-bottom: 30px;

  }

  .shop-container {
    flex-direction: column;
    margin-bottom: 15px
  }

  .shop-wrapper {
    margin-top: 255px;
    padding: 15px 15px 25px 15px;
  }

  .shop-wrapper .article-title {
    font-size: 17px;
    line-height: 22px;
    padding-top: 29px;
    margin-bottom: 0px;
  }

  .shop-wrapper .description {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 25px;
  }

  .price { 
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }
  
  .last-price {
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
  }
  
  .shop-button {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    background-color: #b59f5b;
    border: none;
    width: 140px;
    height: 48px;
    color: white;
  }
  

  /*Footer*/

  .footer {
    margin-top: 0px;
    height: 81px;
  }
  
  .footer-container {
    width: 91%;
    margin-bottom: 33px;
  }

  .adress {
    margin-bottom: 0px;
  }

  .footer-copyright {
    margin-left: 8px;
    margin-bottom: 0px;
  }

  /*Popup*/

  .popup {
    width: 100%;
    height: 100vh;
    padding-top: 56px;
    padding-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 10;
    margin: 0 auto;
  }
  
  .popup .section-title {
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    margin-top: -11px;
    margin-bottom: 12px;
  }
  
  .popup-container {
    max-width: 93%;
    margin: 0 auto;
    padding-left: 23px;
    padding-right: 19px;
  }
  
  .popup-close {
    content: "";
    position: relative;
    width: 27px;
    height: 27px;
    border-radius: 3px;
    top: -32px;
    left: 97.5%;
    background: url(../svg/form-x.svg);
  }
  
  .popup-feedback {
    margin: 0 auto;
    text-align: left;
    background-color: #fff;
    color: #000000;
  }
  
  .content {
    padding-left: 3px;
  }

  .form-input, .popup-radio, .popup-textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 26px;
  }
  
  .popup-select {
    border-style: none;
    background: url(../svg/form-arrows.svg) right 17px center/ 10px no-repeat #f3f7f6;
    opacity: 0.541;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 100%;
    height: 50px;
    padding-left: 21px;
    cursor: pointer;
  }
  
  select:focus {
    border: 1px solid #b59f5b;
  }
  
  .radio {
    display: flex;
    padding-left: 0px;
    margin-bottom: -21px;
  }
  
  .radio-input {
    margin-right: 25px;
    margin-bottom: -7px;
  }
  
  .feedback-radio-input {
    cursor: pointer;
  }

  
  .feedback-radio-input + label::before {
    transition: 0.3s;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    /* border: 1px solid #b59f5b; */
    background-image: url("../svg/form-empty-circle.svg");
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% 80%;
    border-radius: 50%;
  }
  
  .feedback-radio-input:checked + label::before {
    /* border: 1px solid #b59f5b; */
    background-image: url("../svg/form-circle.svg");
    background-size:  80% 80%;
  }
  
  
  .textarea {
    margin-bottom: 22px;
  }
  
  .textarea-field {
    border-style: none;
    outline: 0;
    height: 131px;
    opacity: 0.541;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    min-width: 100%;
    resize: none;
    padding: 17px 30px 20px 22px;
  }
  
  .textarea-field:focus {
    border: 1px solid #b59f5b;
  }
  
  
  .topic-radio {
    margin-bottom: 6px;
  }
  
  .feedback-question {
    padding-top: 22px;
    padding-bottom: 8px;
  }
  
  .feedback-radio-label {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
  }
  
  /*кнопка Popup*/
  .popup-button {
    width: 98%;
    margin-bottom: 5px;
  }
  
}

