/*Мобильная версия, пейзажная ориентация*/

@media (max-width: 640px) and (orientation: landscape) {
 
  .trends-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .trends-post {
    width: 50%; 
    min-height: 230px;    
    margin: auto;
    margin-bottom: 3px;
  }

  .trend-post .article-tag {
    font-size: 10px;
  }

  .trend-post .article-title {
    font-size: 14px;
  }
}

/*Планшетная версия, пейзажная ориентация*/

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  
  .trends-wrapper {
    flex-wrap: nowrap;
  }

  .trends-post {
    width: 100%;
    min-height: 300px;
  }

  .trend-post {
    padding: 15px;
  }
  
  .trend-post .article-tag {
    font-size: 10px;
  }

  .trend-post .article-title {
    font-size: 14px;
  }
}



