/*Сброс встроенных стилей для всех элементов*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Подключение шрифтов*/

@font-face {
  font-family: "Open Sans";
  src: url(css\Fonts\OpenSans-Bold.ttf) format("ttf"), url(css\Fonts\OpenSans-Bold.woff) format("woff"), url(css\Fonts\OpenSans-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Open Sans";
  src: url(css\Fonts\OpenSans-Regular.ttf) format("ttf"), url(css\Fonts\OpenSans-Regular.woff) format("woff"), url(css\Fonts\OpenSans-Regular.woff2) format("woff2");
}

/*Оформление шапки*/

.header {
  display: block;
  background-image: url(../Images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
  background-color: #000000; 
  position: relative; 
  z-index: 1;
  padding-top: 35px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 130px;
  margin-bottom: 64px;
}

/*Затемнение*/
.header::after {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 60%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.header-logo {
  width: 179px;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-list-items {
  font-size: 13px;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  list-style-type: none;
}

.menu-list-items:hover {
  font-size: 13px;
  text-decoration: underline;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
}

.menu-list-items:nth-child(n+2) {
  padding-left: 38px;
}

.menu-link {
  color:white;
  text-transform: uppercase;
  text-decoration: none;
}

.intro {
  display: flex;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 100px;
}

.intro-title {
  font-size: 45px;
  line-height: 75px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: center;
  
}

/*Trends*/
.trends {
  display: flex;
  margin: 0 auto;
}

.section-title {
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase; 
  margin-bottom: 20px;
  display: block;
  text-align: center;
  font-family: "Open Sans";
}

.section-title::after {
  content: "";
  display: block;
  border-bottom: 3px solid #e1d9bd;
  width: 69px;
  height: 2px;
  margin: 13px auto;
}




/*Page*/

.page {
  display: flex;
  font-family: "Open Sans";
  margin: 0 auto;
  width: 1170px;
  justify-content: space-between;
}

/*Main*/

.post-list {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 100px;
  width: 815px;
}

.posts {
  display: flex;
}

.categories {
  font-weight: 700;
  font-family: "Open Sans";
}

.category {
  text-transform: uppercase;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #b59f5b;
  text-decoration: none;
  list-style-type: none;
  margin-right: 20px;
}

.tag:hover {
  text-decoration: underline;
}

/*Articles*/

.article-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
}

.article-title:hover {
  color
  : #b59f5b;
}

.article-link {
  text-decoration: none;
  color: #000000;
}

/*Update and Author*/

.update {
  display: flex;
  flex-direction: row;
  align-items: baseline; 
  line-height: 40px;
  margin-bottom: 30px;
}

.time {
  font-size: 12px;
  line-height: 40px;
  color: #888888;
  font-weight: 400;
  font-family: "Open Sans";
}

.author {
  font-size: 12px;
  line-height: 40px;
  color: #000000;
  font-weight: 700;
  font-family: "Open Sans";
  margin-left: 20px;
}

.decription {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: "Open Sans";
}

/*Aside*/

.aside {
  width: 299px;
}

.latest-posts {
  width: 100%;
}

.aside-post {
  display: flex;
}

.aside-post:nth-child(n + 2) {
  margin-top: 21px;
}

.aside-about {
  margin-left: 20px;
}

.aside-title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-family: "Open Sans";
  width: 180px;
}

/*Search*/

.search {
  margin-top: 60px;
  width: 271px;
}

.search-hint {
  visibility: hidden;
}

.field {
  border-style: none;
  padding: 0 19px;
  background-color: #f4f7f6;
  height: 50px;
}

/*Footer*/

.footer {
  display: block;
  width: 1170px;
  margin: 0 auto;
}

.social {
  width: 1170px;
  height: 83px;
  background-color: #f4f7f6;
}

.copyright {
  font-size: 12px;
  line-height: 40px;
  color: #999999;
  font-weight: 700;
  font-family: "Open Sans";
  flex-direction: column;
  display: flex;
  text-align: center;
}

